/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: Arial, sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.purchasenow_btn {
    background-color: #8e2909;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}
.gray_text {
    color: gray;
}
.more_info_btn {
    background-color: #2d64e6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.ms_card {
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    font-family: Helvetica, arial, sans-serif;
}

/* Header_Top */

.header_top {
    height: 50px;
    background-color: black;
    position: relative;
}
.header_top img {
    position: absolute;
    width: 80px;
    top: 18px;
    right: 10px
}

/* Header_bottom */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 100px;
    line-height: 100px;
    background-color: white;
}

/* nav_col_left */

.nav_col_left {
    display: flex;
}
.ps_logo {
    height: 100%;
    padding: 1rem;
}
.nav_col_left ul {
    display: none;
    padding: 0;
    height: 100%;
}
.nav_col_left li {
    display: flex;
    align-items: center;
}
.nav_col_left li img {
    width: 10px;
    height: 100%;
    margin-left: 0.25rem;
    margin-right: 1.25rem;
}

/* nav_col_right */

.nav_col_right {
    display: flex;
}
.desktop_menu ul {
    display: none;
}
.desktop_menu li {
    display: flex;
    align-items: center;
}
.desktop_menu li img {
    width: 10px;
    height: 100%;
    margin-left: 0.25rem;
    margin-right: 1.25rem;
}
.login_btn {
    background-color: #414141;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}
#ms_lens {
    width: 20px;
    margin: 0 1.5rem;
}

/* MAIN */

/* Jumbotron */

.ms_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    padding-top: 150px;
    background-size: auto;
    background-position: center;
    height: 976px;
}
.ms_heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    padding-top: 20rem;
}
.returnal_logo img {
    width: 50%;
}

/* Some games section */

.some_games .img_box img {
    width: 100%;
    border-radius: 15px;
}

/* PS5 Section */

.ps_5 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.no_limits {
    text-transform: uppercase;
    color: #0e79d0;
    font-size: 10px;
}
.ps_5 h2 {
    margin-bottom: 1rem;
}
.ps5_advantages {
    color: gray;
    margin-bottom: 4rem;
}
.ps_5 .img_box img {
    width: 100%;
}
.accessory_details {
    display: none;
}
#blue_border {
    border-bottom: 3px solid #0e79d0;
}







/* Media Queries */
/* sm */

@media screen and ( min-width: 576px ) {
    
}

/* md */

@media screen and ( min-width: 768px ) {
    .accessory_details {
        display: block;
    }
}

/* lg */

@media screen and ( min-width: 992px ) {
    /* Nav */
    nav {
        font-size: 12px;
    }
    .nav_col_left ul {
        display: flex;
    }
    .desktop_menu ul {
        display: flex;
    }
    .burger_menu {
        display: none;
    }

    /* Main */

    /* Jumbotron */
    .ms_heading {
        width: 35%;
    }
}